
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 222, 240);
    height: var(--header-height);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#header {
    border: 5px solid;
    border-color: lightpink;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: rgb(135, 255, 135);
    border-radius: 50px;
    border-color: pink;
    width: 160px;
    font-size: 18px;
    margin-top: 10%;
    margin-left: 50%;
}

.button2:hover {
    background-color: hotpink;
    color: black;
}

label {
    color: white;
    font-size: 25px;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

ul {
    color:white;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#left {
    float: left;
    position: absolute;
    top: 27%;
    left: 18%;
}

#right {
    float: right;
    top: 27%;
}

#save-button {
    background-color: rgb(135, 255, 135);
    border-radius: 50px;
    border-color: pink;
    width: 160px;
    font-size: 18px;
    margin-left: 30%;
    margin-top: 5%;
}

#mealName {
    margin-left: 15%;
}